{% extends "base.html" %}
{% block title %}Create User{% endblock %}
{% block content %}
	<div id="page-body" class="container">
        <form method="POST" action="/login/create_user">
            <fieldset class="form-group">
                <label >Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Insert here">
                <label for="formGroupExampleInput2">Password</label>
                <input type="text" class="form-control" name="password" id="password" placeholder="Insert here">
                <label for="formGroupExampleInput3">Verify Password</label>
                <input type="text" class="form-control" name="verify_password" id="verify_password" placeholder="Insert here">
            </fieldset>
            <button type="submit" class="btn btn-primary">Create User</button>
        </form>
	</div>
{% endblock %}
