{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div id="page-body" class="container">
        <form method="POST" action="/login">
            <fieldset class="form-group">
                <label >Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Insert here">
                <label for="formGroupExampleInput2">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Insert here">
            </fieldset>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br>
        <a class="btn btn-primary" href="/login/create_user">Create User</a>
	</div>
{% endblock %}
