<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </head>
    <body class="container">
        <h1>BookFinder Details Site</h1>
        <h2>Product Demo URL</h2>
        <a href="https://ndbookfinder.herokuapp.com">NDBookFinder</a>
        <h2>Product Description</h2>
        <p>
            Our project is a system for buying and selling of books in a method cost
            efficient to both the buyer and the seller. It allows each individual to
            cross-reference and compare book prices between online retailers and other students.
            This allows both the buyer and the seller to make an informed decision about
            pricing and purchasing of books.
        </p>
        <h2>Usefulness</h2>
        <p>
            Our application is useful because as students we know the struggle that comes
            with buying and selling books.  You don't know if you can trust others
            to give you the best price for a book,
            and buying/selling from the bookstore will leave you penniless.
            Yes, there are a few sites that let students buy and sell books,
            it's hard to determine if the same book
            can be bought elsewhere for a cheaper price.
            Our application will allow students to buy/sell books
            at fair and competitive prices by allowing both the buyer
            and the seller to compare prices of the book online at other sites.
            In essence we want to do something similar to craiglist
            but specific to books only and allow the similar price comparison
            that sites like Kayak offer for plane tickets.
            As far as we know there is no other site out there that combines the
            functionality of craigslist and Kayak specifically for book selling/buying.
        </p>
        <h2>Realness</h2>
        <p>
            Our data will come from various other book buying/selling sites.
            We plan to look into Google Scholar, Chegg, and Amazon as potential
            sources for price comparison.
        </p>
        <h2>Functionality Description</h2>
        <h3>Basic Functions:</h3>
        <ul>
            <li>Sell books to other students online</li>
            <li>Buy books online</li>
            <li>Wishlists</li>
            <li>API endpoints for mobile apps</li>
        </ul>

        <h3>Advanced Functions:</h3>
        <ul>
            <li>Price comparisons across multiple retailers</li>
            <li>User accounts with user data stored</li>
        </ul>

        Click <a href="development_plan.html">here</a> for the development
        plan.
    </body>
</html>
