{% extends "base.html" %}


{% block content %}
<div class="container">
  <h1>Hello {{ current_user.username }}!</h1>
  <h3>Book Information</h3>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }} <!--necessary for CSRF prevention-->
      <p>
          Enter ISBN-13 (13 digits):<br>
          {{ form.ISBN(size=80) }}<br>
      </p>
      <p>
          Enter your asking price:<br>
          {{ form.Price(size=80) }}<br>
      </p>
      <p>
          Enter the book title:<br>
          {{ form.Title(size=80) }}<br>
      </p>
      <p>
          Enter the book author:<br>
          {{ form.Author(size=80) }}<br>
      </p>
      <p><input type="submit" value="Submit"></p>
  </form>
</div>
{% endblock %}
