<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </head>
    <body class="container">
        <h1>Development Plan</h1>
        <h2>Relational Schema</h2>
        <p>
            Book(ISBN, Title, Author, Price, Rental, BookType, SellerID)
            User(FirstName, LastName, Email, UserID, Password)
	    Sale(SaleID, BookISBN, BuyerID, SellerID, TimeStamp)
        </p>
        <h2>Software Platforms and Databases</h2>
        <p>
        </p>
        <h2>Data</h2>
        <p>
        </p>
        <h2>Labor Division</h2>
        <h2>Milestones</h2>

    </body>
</html>
