<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </head>
    <body class="container">
        <h1>BookFinder Details Site</h1>
        <h2>Product Description</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse non pharetra risus.
            Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Vivamus eu pulvinar mauris.
            Aenean sit amet tellus eu sapien malesuada rhoncus a nec est.
            Vestibulum venenatis sapien id enim porta dapibus.
            Proin malesuada sodales justo.
        </p>
        <h2>Usefulness</h2>
        <p>
            Our application is useful because as students we know the struggle that comes
            with buying and selling books.  You don't know if you can trust others
            to give you the best price for a book,
            and buy/selling from the bookstore is just plain stupid (they will leave you pennyless).
            Yes, there are a few sites that let students buy and sell books but even then,
            it's hard to tell without doing work on your own if the same book
            can be bought elsewhere for a cheaper price.
            Our application will allow students to buy/sell books
            at fair and competitive prices by allowing both the buyer
            and the seller to compare prices of the book online at other sites.
            In essence we want to do something similar to craiglist
            but specific to books only and allow the similar price comparison
            that sites like Kayak offer for plane tickets.
            As far as we know there is no other site out there that combines the
            functionality of craigslist and Kayak specifically for book selling/buying.
        </p>
        <h2>Realness</h2>
        <p>
            Our data will come from various other book buying/selling sites.
            We plan to look into Google Scholar, Chegg, and Amazon as potential
            sources for price comparison.
        </p>
        <h2>Functionality Description</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse non pharetra risus.
            Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Vivamus eu pulvinar mauris.
            Aenean sit amet tellus eu sapien malesuada rhoncus a nec est.
            Vestibulum venenatis sapien id enim porta dapibus.
            Proin malesuada sodales justo.
        </p>
    </body>
</html>
