<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    </head>
    <body class="container">
        <h1>BookFinder Details Site</h1>
        <h2>Product Description</h2>
        <p>
            Our project is a system for buying and selling of books in a method cost
            efficient to both the buyer and the seller. It allows each individual to
            cross-reference and compare book prices between online retailers and other students.
            This allows both the buyer and the seller to make an informed decision about
            pricing and purchasing of books.
        </p>
        <h2>Usefulness</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse non pharetra risus.
            Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Vivamus eu pulvinar mauris.
            Aenean sit amet tellus eu sapien malesuada rhoncus a nec est.
            Vestibulum venenatis sapien id enim porta dapibus.
            Proin malesuada sodales justo.
        </p>
        <h2>Realness</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse non pharetra risus.
            Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Vivamus eu pulvinar mauris.
            Aenean sit amet tellus eu sapien malesuada rhoncus a nec est.
            Vestibulum venenatis sapien id enim porta dapibus.
            Proin malesuada sodales justo.
        </p>
        <h2>Functionality Description</h2>
        <h3>Basic Functions:</h3>
        <ul>
            <li>Sell books to other students online</li>
            <li>Buy books online</li>
            <li>Wishlists</li>
            <li>API endpoints for mobile apps</li>
        </ul>

        <h3>Advanced Functions:</h3>
        <ul>
            <li>Price comparisons across multiple retailers</li>
            <li>User accounts with user data stored</li>
        </ul>
    </body>
</html>
